@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Constant styles  */
$mainColor: #170d39;
$secondColor: #5d35ee;

@font-face {
  font-family: graphikBold;
  src: url("../fonts/GraphikArabic-Bold.ttf");
}

@font-face {
  font-family: graphikMedium;
  src: url("../fonts/GraphikArabic-Medium.ttf");
}

@font-face {
  font-family: graphikSemiBold;
  src: url("../fonts/GraphikArabic-Semibold.ttf");
}

@font-face {
  font-family: graphikThin;
  src: url("../fonts/GraphikArabic-Thin.ttf");
}

@font-face {
  font-family: graphikExtralight;
  src: url("../fonts/GraphikArabic-Extralight.ttf");
}

@font-face {
  font-family: graphikLightn;
  src: url("../fonts/GraphikArabic-Light.ttf");
}

$boldFont: graphikBold;
$mediumdFont: graphikMedium;
$semiboldFont: graphikSemiBold;
$thindFont: graphikThin;
$extralightFont: graphikExtralight;
$lightFont: graphikLightn;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-family: $mediumdFont;
  direction: rtl;
}

body {
  font-family: $mediumdFont;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* // Constant Styles */

ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */

.btn_style {
  background-color: #ccff7d;
  border: 1px solid #000000;
  font-size: 1.1rem;
  color: #000;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  box-shadow: -6px 5px 1px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out !important;
  &:hover {
    color: $mainColor;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
}

.card_img {
  height: 100vh;
  position: relative;

  .img_parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 170px;
  }
}

@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 90px;
  }
}

@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}

@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}

/* ================================================================ */
.landing_header {
  min-height: 90vh;
  background-color: $mainColor;
  padding: 80px 0 100px 0;
  overflow: hidden;
  .logo {
    margin-bottom: 100px;
    display: inline-block;
  }
  p {
    font-size: 1.6rem;
    color: #fff;
    font-family: $semiboldFont;
    margin-bottom: 35px;
  }
  h5 {
    font-size: 3.3rem;
    color: #ccff7d;
    font-family: $boldFont;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
      0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
      0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  }

  .landing_header_img {
    position: relative;
    // border: 1px solid #000;
    width: fit-content;
    .main_img {
      // border: 1px solid #000;
      width: fit-content;
      position: relative;
      z-index: 2;
    }
    .vector_1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(0, -50%);
      animation-name: floatyRight;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    .vector_2 {
      position: absolute;
      top: 50%;
      right: 50%;
      z-index: 1;
      animation-name: floaty;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    .vector_3 {
      position: absolute;
      bottom: 35%;
      z-index: 1;
      right: 50%;
      z-index: 1;
      animation-name: floaty;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}

@keyframes floatyRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
  }
}

/* ================================================================ */
.custom_navbar_header {
  position: relative;
  overflow: hidden;
  height: 120vh;
  .header_elm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50px;
    height: 90%;
    width: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1920px) {
  .custom_navbar_header {
    .header_elm {
      height: 102%;
      width: 102%;
    }
  }
}
@media (max-width: 1800px) {
  .custom_navbar_header {
    .header_elm {
      height: 90%;
      width: 100%;
    }
  }
}

.custom_navbar {
  padding: 45px 0;
  background-color: $mainColor;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  // position: absolute;
  // top: 0;
  // width: 100%;
  .chat_whatsapp {
    text-align: left;
    a {
      border: 1px solid #fff;
      padding: 15px 18px;
      border-radius: 7px;
      color: #fff;
      i {
        margin-left: 10px;
      }
    }
  }
}
.custom_header {
  background-color: $mainColor;
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  .header_content {
    position: relative;
    z-index: 2;
    h5 {
      color: #fff;
      text-align: center;
      font-size: 3.6rem;
      font-style: normal;
      font-family: $boldFont;
      color: #fff;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: $thindFont;
      font-size: 24px;
      font-weight: 400;
    }
  }
  .header_box_wrapper {
    width: 55%;
    margin: auto;
    position: relative;
    margin-top: 76px;
    &::after {
      content: url("../images/3D\ 1.svg");
      position: absolute;
      left: -180px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }
    &::before {
      content: url("../images/3D\ 2.svg");
      position: absolute;
      right: -180px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }
  .header_box {
    background-color: #fff;
    padding: 44px 61px;
    border-radius: 15px;
    margin: auto;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2;
    h5 {
      margin-bottom: 45px;
      text-align: center;
    }
    .form-group {
      height: 55px;
      position: relative;
      label {
        position: absolute;
        background-color: #fff;
        top: -10px;
        right: 10px;
        color: #5d35ee;
        font-family: $semiboldFont;
        font-size: 0.9rem;
        font-weight: 500;
        padding-left: 15px;
        z-index: 4;
      }
      .form-control {
        height: 100%;
        .form-control {
          color: #000;
          background-color: #fff;
          border: 1px solid #dae0e4;
          &::placeholder {
            color: #000;
            font-family: $mediumdFont;
          }
        }
      }
      .input-group {
        height: 100%;
        span {
          background-color: #fff;
          font-family: $lightFont;
        }
        .form-control {
          &::placeholder {
            color: #000;
            font-family: $lightFont;
          }
        }
      }
    }
    .btn_submit {
      text-align: center;
      button {
        background-color: $secondColor;
        color: #fff;
        display: flex;
        width: 198px;
        height: 50px;
        padding: 15px 50px 15px 56px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 26px;
      }
    }

    .custom-select {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .custom-select-trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 200px;
      height: 55px;
      border: 1px solid #dae0e4;
      // padding: 10px;
      padding: 0 15px;
      background-color: #fff;
      border-radius: 7px;
    }

    .custom-select-trigger span {
      color: #000;
      font-family: $lightFont;
    }

    .custom-select-trigger .arrow {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #333;
    }

    .custom-options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: none;
      z-index: 99;
    }

    .custom-options.show {
      display: block;
    }

    .custom-option {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }

    .custom-option:hover {
      background-color: #f0f0f0;
    }

    .custom-option img {
      width: 20px;
      height: 14px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .custom-select-trigger img.selected-flag {
      width: 20px;
      height: 14px;
      margin-right: 10px;
      display: none;
      /* Hide the flag initially */
    }

    .custom-select-trigger span img {
      margin-right: 0 !important;
    }
    input {
      text-align: right;
    }
  }
}

.about_joystel {
  margin-top: -50px;
  .about_joystel_content {
    margin-top: 40px;
    h6 {
      color: $secondColor;
      color: #5d35ee;
      text-align: right;
      font-family: $semiboldFont;
      font-size: 0.9rem;
    }
    h5 {
      color: #170d39;
      text-align: right;
      font-family: $semiboldFont;
      font-size: 1.9rem;
    }
    p,
    li {
      color: #2f2d34;
      text-align: right;
      font-family: $mediumdFont;
      font-size: 1rem;
      line-height: 30px;
      margin-top: 17px;
    }
  }
  a {
    background-color: $secondColor;
    border-radius: 7px;
    color: #fff;
    padding: 15px;
    margin-top: 50px;
    display: inline-block;
    display: flex;
    align-items: center;
    width: fit-content;
    i {
      margin-left: 10px;
    }
  }
  .mobile_btn {
    display: none;
  }
  .about_joystel_gif {
    // background-color: #e6e6e6;
    // padding: 23px;
    // border: 1px solid #e6e6e6;
    // border-radius: 10px;
    // height: 526px;
  }
}

.shopping_section {
  margin-top: 90px;
  .shopping_section_img {
    img {
      width: 85%;
      margin: auto;
    }
  }
  .mobile_head {
    display: none;
    text-align: center;
    h6 {
      color: $secondColor;
      font-family: $mediumdFont;
      font-size: 0.9rem;
    }
    h5 {
      color: $mainColor;
      font-family: $semiboldFont;
      font-size: 1.8rem;
    }
  }
  .shopping_section_content {
    h6 {
      color: $secondColor;
      font-family: $mediumdFont;
      font-size: 0.9rem;
    }
    h5 {
      color: $mainColor;
      font-family: $semiboldFont;
      font-size: 1.8rem;
    }
  }

  .head {
    margin-bottom: 55px;
  }
}
.shopping_cart {
  border-radius: 10px;
  border: 1px solid #e0dcec;
  padding: 25px 30px;
  margin-bottom: 15px;
  min-height: 97px;
  // width: 70%;
  img {
    flex: none;
    margin-left: 10px;
    width: 38px;
    height: 38px;
  }
  p {
    font-size: 0.9rem;
  }
}

.eshtryly_service {
  margin-top: 120px;
  margin-bottom: 110px;
  .eshtryly_service_content {
    h6 {
      color: $secondColor;
      font-family: $mediumdFont;
      font-size: 0.9rem;
    }
    h5 {
      color: $mainColor;
      font-family: $semiboldFont;
      font-size: 1.8rem;
    }
    ul {
      margin-top: 32px;
      li {
        margin-bottom: 20px;
        img {
          margin-left: 10px;
        }
        span {
          color: #2f2d34;
          font-family: $mediumdFont;
          font-size: 0.9rem;
        }
      }
    }
  }
  a {
    background-color: $secondColor;
    border-radius: 7px;
    color: #fff;
    padding: 15px;
    margin-top: 50px;
    display: inline-block;
    display: flex;
    align-items: center;
    width: fit-content;
    i {
      margin-left: 10px;
    }
  }
  .mobile_btn {
    display: none;
  }
}

.sites_buy {
  background-color: #170d39;
  padding: 80px 0 100px 0;
  .section_header {
    text-align: center;
    h6 {
      color: $secondColor;
      font-family: $mediumdFont;
      font-size: 0.9rem;
    }
    h5 {
      color: $mainColor;
      font-family: $semiboldFont;
      font-size: 1.8rem;
      color: #fff;
      margin-top: 14px;
    }
  }
  .card_icon {
    width: 105px;
    height: 106px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 6px;
    margin: auto;
    img {
      width: 80%;
    }
  }
}

/* important-site */
.important-site {
  margin-top: 67px;
  .secton-header {
    text-align: center;
    margin-bottom: 65px;
    h6 {
      color: $secondColor;
      font-family: $mediumdFont;
      font-size: 0.9rem;
    }
    h5 {
      color: $mainColor;
      font-family: $semiboldFont;
      font-size: 1.8rem;
      color: $mainColor;
      margin-top: 14px;
    }
  }
  .middlecard {
    .site-card {
      margin-top: 40px;
    }
  }
}

.site-card {
  border-radius: 17px;
  box-shadow: 0 0 27px rgba(227, 228, 233, 0.55);
  position: relative;
  padding: 14px;
  margin-bottom: 34px;
  .card-img {
    img {
      object-fit: cover;
      width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 21px;
    color: $secondColor;
  }
  .card-text {
    font-size: 0.9rem;
    color: #2f2d34;
    line-height: 25px;
    width: 90%;
    margin-top: 11px;
    margin-bottom: 35px;
  }
  .card-link {
    position: absolute;
    padding: 8px 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 62px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -18px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    i {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      background-color: #000;
      color: #fff;
      i {
        color: #fff;
      }
    }
  }
}

.site_footer {
  padding: 100px 0 90px 0;
  background-color: $mainColor;
  margin-top: 100px;
  .chat_whatsapp {
    text-align: left;
    a {
      border: 1px solid #fff;
      padding: 15px 18px;
      border-radius: 7px;
      color: #fff;
      i {
        margin-left: 10px;
      }
    }
  }
}

.modal_result {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  .head {
    margin-bottom: 25px;
    font-size: 0.9rem;
  }
  .modal_box {
    background-color: #fff;
    padding: 29px 31px;
    text-align: center;
    width: 358px;
    max-width: 95%;
    margin: auto;
    border-radius: 10px;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    .close {
      position: absolute;
      top: 26px;
      right: 26px;
      cursor: pointer;
    }
    .flag {
      img {
        width: 20px;
        flex: none;
      }
      span {
        color: $secondColor;
        font-size: 0.9rem;
      }
    }
    .line {
      margin: 0 10px;
    }
    .unit_weight {
      display: flex;
      margin-top: 20px;
      height: 34px;
      padding: 9px 15px;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
      background: #f0eff4;
      span {
        font-size: 0.9rem;
      }
    }
    .total {
      p {
        color: $mainColor;
        text-align: center;
        font-size: 0.8rem;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      h5 {
        font-size: 1.9rem;
        span {
          color: $secondColor;
        }
        .currency {
          color: #000;
        }
      }
    }
    a {
      background-color: $secondColor;
      border-radius: 7px;
      color: #fff;
      padding: 15px;
      margin: auto;
      margin-top: 15px;
      display: inline-block;
      display: flex;
      align-items: center;
      width: fit-content;
      i {
        margin-left: 10px;
      }
    }
  }
}

.active_modal {
  opacity: 1;
  visibility: visible;
  .modal_box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@media (max-width: 1100px) {
  .shopping_cart {
    padding: 14px 14px;
  }
  .shopping_section .shopping_section_img img {
    width: 95%;
  }
  .site-card .card-link {
    padding: 8px 30px;
    font-size: 0.9rem;
  }
  .custom_header .header_box_wrapper {
    width: 65%;
  }
}

@media (max-width: 991px) {
  .custom_header .header_box_wrapper::after,
  .custom_header .header_box_wrapper::before {
    display: none;
  }
  .custom_header .header_box_wrapper {
    width: 100%;
  }
  .about_joystel .about_joystel_content {
    margin-bottom: 30px;
    text-align: center;
    p,
    h5,
    h6 {
      text-align: center;
    }
  }
  .about_joystel {
    .mobile_btn {
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    .desktop_btn {
      display: none;
    }
  }
  .shopping_section {
    .shopping_section_content {
      margin-top: 50px;
    }
    .mobile_head {
      display: block;
    }
    .desktop_head {
      display: none;
    }
  }
  .eshtryly_service {
    .mobile_btn {
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    .desktop_btn {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .sites_buy {
    ul {
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .site-card {
    width: 350px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .site_footer {
    padding: 40px 0 40px 0;
  }
  .custom_navbar .chat_whatsapp a {
    padding: 14px 11px;
    span {
      font-size: 0.9rem;
    }
  }
  .site_footer .chat_whatsapp a {
    padding: 14px 11px;
    span {
      font-size: 0.9rem;
    }
  }
  .custom_navbar_header .header_elm {
    height: 31%;
    width: 100%;
    transform: scale(2);
    left: 0;
    top: 260px;
  }
  .custom_header {
    height: max-content !important;
    min-height: 95vh !important;
  }
  .custom_header .header_box {
    padding: 30px 18px;
    margin-top: 60px;
  }
  .custom_header .header_box .form-group {
    margin-bottom: 25px;
  }
  .custom_header .header_box .btn_submit button {
    margin-top: 5px;
  }
  .about_joystel {
    margin-top: 0;
  }
  .custom_header .header_content {
    // margin-top: 80px;
  }
  .custom_navbar_header {
    height: auto;
    padding-bottom: 50px;
    background-color: $mainColor;
  }
  .sites_buy .card_icon {
    // margin: 5px;
  }
  .modal_result .modal_box {
    padding: 29px 9px;
  }
  .shopping_section,
  .eshtryly_service,
  .site_footer {
    margin-top: 60px;
  }
  .eshtryly_service {
    margin-bottom: 60px;
  }
  .important-site .secton-header {
    margin-bottom: 50px;
  }
  .eshtryly_service .eshtryly_service_content h6,
  .sites_buy .section_header h6,
  .important-site .secton-header h6,
  .shopping_section .mobile_head h6,
  .about_joystel .about_joystel_content h6 {
    font-size: 1rem;
  }
}

@media(max-width: 320px){
  .custom_header .header_content h5{
    font-size: 3.2rem;
  }
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */

/* Shared styles  */
%backgroundImage {
  background-position: center;
  background-size: cover;
}

%inilizeFonrtAwsome_Before_After {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%imglikebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%imgParent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%btnColor {
  padding: 10px 40px;
  display: block;
  width: fit-content;
  margin-left: auto;
  border-radius: 5px;
  color: #fff;
  font-family: jannab;
}
